@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  margin: 0;
}

header .logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 34px;
  font-family: "Barlow", sans-serif;
  padding-left: 140px;
}

header .logo a:hover {
  color: #22F0D7;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 547px;
}

header nav li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

header nav a:hover {
  color: #22F0D7;
}

header .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 140px;
}

header .searchbar .header-searchbar {
  width: 216px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
}

header .searchbar .header-search-btn {
  width: 120px;
  height: 40px;
  border: solid #FFFFFF 2px;
  border-radius: 5px;
  background: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

header .searchbar .header-search-btn:hover {
  background-color: #22F0D7;
}

.btn-primary, .btn-outline {
  width: 250px;
  height: 50px;
  font-size: 24px;
  border-radius: 5pt;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  background-color: #22F0D7;
  color: #001021;
}

.btn-primary:hover {
  background-color: #FFFFFF;
}

.btn-outline {
  border: solid #FFFFFF 3px;
  color: #FFFFFF;
}

.btn-outline:hover {
  background-color: #22F0D7;
}

body {
  margin: 0;
  background-color: #011A4D;
}

.home-row-1 {
  height: 100vh;
  background-image: url(/img/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-row-1 .bg-overlay {
  background-color: #011A4D;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.65;
}

.home-row-1 .comp-1 {
  padding: 0 140px 160px;
  width: 900px;
  z-index: 2;
}

.home-row-1 h1 {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

.home-row-1 .h-primary {
  color: #22F0D7;
}

.home-row-1 p {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  color: #FFFFFF;
}

.home-row-1 .btn-menu {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=app.css.map */